[user]
	email = reujab@gmail.com
	name = reujab
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[advice]
	statusHints = false
	pushNonFastForward = false
	commitBeforeMerge = false
	resolveConflict = false
	implicitIdentity = false
	detachedHead = false
[push]
	default = simple
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
